# Ignore compiled Python files
__pycache__/
*.py[cod]
*.so
*.pyd

# Ignore environment variables
.env

# Ignore IDE and editor settings
.idea/
.vscode/
*.swp

# Ignore macOS specific files
.DS_Store

# Ignore virtual environment folders
venv/
*.egg-info/
